:root {
	--poi: 33px;
}
*,::before,
::after {
	margin: 0;
	padding: 0;

}
.selectable {
	-webkit-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;
}
body {
	background-color: black;
	overflow: hidden;
	/* cursor: crosshair; */
	/* cursor: grab; */
	width:100%;
	height:100vh;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

}

#map{
	position: absolute;
	border-radius: 1rem;	
	/* cursor: grab; */
	cursor: crosshair;
	box-shadow: inset 0 0 50px black;
	z-index: 1;
	/* border: 2px solid white; */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
	
}
body.grabed>#map{
	cursor: grabbing;
}
#map .poi{
	position: absolute;
	cursor: pointer;
}
.info{
	position: relative;
	padding: .2rem .7rem .3rem .5rem;
	background-color: rgba(255, 255, 255, 0.765);
	width:min-content;
	white-space: nowrap;
	z-index: 4;
}
/* ------------------------ */
#topModalDiv{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100vh;
	z-index: 3;
	/* background-color: rgba(0, 0, 0, 0.455); */
	display: flex;
	justify-content: center;
	align-items: center;
}
#topModalDiv #actionsMenu {
	cursor: pointer; 
	position: absolute;
	/* width: 500px; */
	/* height: 500px; */
	white-space: nowrap;
	border-radius: .5rem;
	/* box-shadow: 2px 2px 20px black; */

	display: flex;
	justify-content: center;
	align-items: center;
}
#topModalDiv #actionsMenu .actions {
	position: relative;
	border-radius: .5rem;
	/* width: 400px; */
	height: max-content;
	background-color: rgba(255, 255, 255, 0.678);
	box-shadow: 2px 2px 20px black; 
}
#topModalDiv #actionsMenu .actions .close {
	position: absolute;
	right:0;
	cursor: grab;
}
#topModalDiv #actionsMenu .actions #poitools{
	position: relative;
	/* background-color: rgb(146, 146, 25); */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* border: 5px dotted red; */
}
#topModalDiv #actionsMenu .actions #poitools #loop{ 
	position: relative;
	/* left:100%;
	top:0; */
	width: 150px;
	height: 150px;
	/* background-color: rgb(7, 187, 187); */
	overflow: hidden;
	border: 5px solid rgba(0, 0, 0, 0.37);
	border-radius: 50%;
	/* border-top-right-radius: 50%;
	border-bottom-right-radius: 50%; */
	box-shadow: 2px 2px 20px black;
}
#loop #loopmap{ 
	position: absolute;
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 0px;
	background-size: auto;
	width:100%;
	height:100%;
}
#loop .looppoi{
	position: absolute;
	left:calc(50% - 7px);
	top:calc(50% - 7px);
	width:14px;
	height: 14px;

}

textarea {
	width: 100%;
}
#topModalDiv #actionsMenu .actions #poitools #poidataform {
	padding:.5rem;
	/* background-color: rgba(255, 255, 255, 0.856);
	box-shadow: 2px 2px 20px black; */
	border-radius: .5rem;
}
.grabed{
	cursor: grabbing;
}
.fourdigit {
	width: 4rem;
}

button {
	position: relative;
	cursor: pointer;
	padding: .2rem 1rem;
	margin: .2rem 0 .2rem 0;
}
#info {
  position: fixed;
  display: flex;
  right: 5px;
  bottom: 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding: 3px;
  /* border: 1px solid white; */
  z-index: 5;
  background: rgba(255, 255, 255, 0.694);
}

.octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: black;
}

.github,
.github a:hover,
.github a:active,
.github a {
  color: black;
}

input {
	border:0px;
	background-color: rgba(255, 255, 255, 0.824);
	font-weight: bold;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.591);
}
#typico {
	width:100%;
	display: flex;
	flex-wrap: wrap;
}
#poiiddiv{
	position: relative;
}
#icolist {
	display: flex;
	width:calc(9*1.5rem);
	flex-wrap: wrap;
}
.icolistitem {
	width:1.5rem;
	background-color: rgb(255, 255, 255);
	border:1px solid rgba(0, 0, 0, 0.37);
	text-align: center;
}
.icolistitem:hover {transform: scale(1.4);
}
.icolistitem.up {
	background-color: rgb(16, 170, 29);
	border:1px solid black;
}
