:root {
	--poi: 33px;
}
*,::before,
::after {
	margin: 0;
	padding: 0;

}
.selectable {
	-webkit-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;
}
body {
	background-color: black;
	overflow: hidden;
	/* cursor: crosshair; */
	/* cursor: grab; */
	width:100%;
	height:100vh;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

}

#map{
	position: absolute;
	border-radius: 1rem;	
	/* cursor: grab; */
	cursor: crosshair;
	box-shadow: inset 0 0 50px black;
	z-index: 1;
	border: 2px solid white;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
	
}
body.grabed>#map{
	cursor: grabbing;
}
#map .poi{
	position: absolute;
	cursor: pointer;
}
#topModalDiv{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100vh;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.455);
	display: flex;
	justify-content: center;
	align-items: center;
}
.info{
	position: relative;
	padding: .2rem .7rem .3rem .5rem;
	background-color: rgba(255, 255, 255, 0.765);
	width:min-content;
	white-space: nowrap;
	z-index: 4;
}
#actionsMenu {
	cursor: pointer; 
	position: absolute;
	background-color: rgba(248, 248, 248, 0.856);
	/* width: 50%; */
	/* height: 100px; */
	white-space: nowrap;
	border-radius: .5rem;
	/* padding:.5rem; */
	border: 1px dotted rgb(255, 0, 0);
	box-shadow: 2px 2px 20px black;
	transform: rotate(-2deg);
}
.actions {
	position: relative;
	background-color: rgb(35, 35, 31);
	border-radius: .5rem;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	/* align-content: flex-start;
	justify-content: flex-start; */
}
.action {
	position: relative;
	/* margin:.5rem; */
	background-color: rgb(255, 251, 127);
	/* margin: 0 0 .5rem 0; */
	/* width: 100px;
	height: 100px; */
	border-radius: .5rem;
}
.action .close {
	position: absolute;
	right:0;
	/* background-color: rgb(127, 146, 255); */
	/* padding:.2rem; */
	/* margin-right: .5rem; */
	cursor: grab;
}
.grabed{
	cursor: grabbing;
}
#poitools{
	position: relative;
	
}
#loop{ 
	position: absolute;
	left:100%;
	top:0;
	width: 150px;
	height: 150px;
	background-color: rgb(22, 25, 25);
	overflow: hidden;
	border: 5px solid black;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}
#loop #loopmap{ 
	position: absolute;
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 0px;
	background-size: auto;
}
#loop .looppoi{
	position: absolute;
	left:calc(50% - 7px);
	top:calc(50% - 7px);
	width:14px;
	height: 14px;

}

.fourdigit {
	width: 4rem;
}

button{
	cursor: pointer;
	padding: .2rem 1rem;
	margin: .2rem 0 .2rem 0;
}
#info {
  position: fixed;
  display: flex;
  right: 5px;
  bottom: 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding: 3px;
  /* border: 1px solid white; */
  z-index: 5;
  background: rgba(255, 255, 255, 0.694);
}

.octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: black;
}

.github,
.github a:hover,
.github a:active,
.github a {
  color: black;
}

textarea {
	width: 100%;
}
